##Creating, Reading and Writing

In [ ]:
import pandas as pd;
fruits=pd.DataFrame({'Apples':[30],'Bananas':[21]})
#print(fruits)
fruit_sales=pd.DataFrame({'Apples':[35,41],
                          'Bananas':[21,34]},
                          index=['2017 Sales','2018 Sales']);
#print(fruit_sales)
ingredients=pd.Series(['4 cups','1 cup','2 large','1 can'],index=['Flour','Milk','Eggs','Spam'],name='Dinner');
#print(ingredients)

In [ ]:
def check(df):
  df['four']=df['three']+1

In [ ]:
my=[[2,3,4],[5,4,3],[7,2,3]];
df=pd.DataFrame(my,columns=['one','two','three']);
check(df)
df

   one  two  three  four
0    2    3      4     5
1    5    4      3     4
2    7    2      3     4

##Indexing,Selecting and Assigning

In [ ]:
reviews=pd.read_csv("/content/drive/My Drive/Dataset/winemag.csv",index_col=0);
reviews.shape

##Summary Functions and Maps

In [ ]:
point_mean=reviews.points.mean()
#reviews.points=reviews.points.map(lambda p: p-point_mean);
reviews.head()

In [ ]:
reviews.fillna(0,inplace=True);
reviews['diff']=reviews.apply(lambda x : x['points']-x['price'],axis=1)

In [ ]:
reviews[['points','price','diff']]

In [ ]:
reviews.country.unique();
reviews.country.value_counts();
point_mean=reviews.points.mean();
reviews.points-point_mean;
bargain=reviews.points/reviews.price;
reviews.title[(reviews.points/reviews.price)==bargain.max()];

In [ ]:
n_trop=reviews.description.map(lambda p : "tropical" in p).sum();
n_fruit=reviews.description.map(lambda p : "fruity" in p).sum();
pd.Series([n_trop,n_fruit],index=['tropical','fruity'])

In [ ]:
def rating(row):
  if row.country=="Canada":
    return 3;
  return int((row.points-65)/10);
#reviews.apply(rating,axis=1);

##Data Type and Missing Values

In [ ]:
reviews[pd.isnull(reviews.country)];
reviews.country.fillna("Unknown");
reviews.country.replace("Italy","Idli"); # just kidding
reviews.points.dtype;
reviews.points.astype('str');
reviews[pd.isnull(reviews.price)].shape[0];
reg_series=reviews.region_1.fillna("Unknown");
reg_series.value_counts();

##Renaming and Combining

####concat,join such that it increase no. of rows
####join  ,join such that it increase no. of cols

In [ ]:
reviews.rename(columns={'region_1':'region','region_2':'locale'});
reviews.rename_axis('wines',axis='rows');

##Grouping and Sorting

In [ ]:
reviews.groupby(['taster_twitter_handle']).taster_twitter_handle.count();
reviews.groupby(['price']).points.max();
reviews.groupby(['variety']).price.agg([min,max]);
temp=reviews.groupby(['variety']).price.agg([min,max]);
temp.sort_values(by=['min','max'],ascending=False);
reviews.groupby(['taster_name']).points.mean();
reviews.groupby(['country','variety']).size().sort_values(ascending=False);

In [ ]:
df1=pd.DataFrame({'col1':[1,2,4],
                  'col2':["rag","krat","new"]});
df2=pd.DataFrame({'col1':[1,2,3],
                  'age':[55,25,21]});

In [ ]:
df=pd.merge(df1,df2,how='left',on='col1');
df.head()

In [ ]:
df['cat']=df.apply(lambda x : "old" if x['age']>=55 else "adult" if x['age']>30 else "child",axis=1)
df.head()